<nav class="navbar sticky navbar-expand-lg navbar-light navbar-static-top">
  <figure id="logo" class="columns six navbar-brand" data-hook><%= logo img_options: { class: 'img-responsive', width: '150'} %></figure>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto dropdown">
      <% @taxonomies.each do |taxonomy| %>
        <li>
          <%= link_to '#', data: { toggle: "dropdown"}, "aria-haspopup" => "true", "class" => "nav-link dropdown-toggle dropdown-item" do %>
            <%= taxonomy.name %>
          <% end %>
            <%= nav_tree(taxonomy.root, @taxon, 1) %>
          <div class="" aria-labelledby="navbarDropdown">
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li id="link-to-cart" data-hook>
          <noscript>
            <%= link_to t('spree.cart'), spree.cart_path %>
          </noscript>
          &nbsp;
        </li>
      </ul>
      <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
    </ul>
  </div>
</nav>
