<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= t('spree.no_products_found') %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= t('spree.search_results', keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<% if products.any? %>
  <div id="products" class="inline product-listing" data-hook>
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <div id="product_<%= product.id %>" style="width: 18rem;" class="columns three card text-center <%= cycle("alpha", "secondary", "", "omega secondary", name: "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
          <div class="card-img-top">
            <%= link_to(render('spree/shared/image', image: product.gallery.images.first, size: :small, itemprop: "image"), url, itemprop: 'url') %>
          </div>
          <div class="card-body">
            <h5>
              <%= link_to truncate(product.name, length: 50), url, class: 'info card-title', itemprop: "name", title: product.name %>
            </h5>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <% if price = product.price_for(current_pricing_options) %>
                <span class="price selling" itemprop="price" content="<%= price.to_d %>">
                  <a href="#" class="btn btn-primary"><%= price.to_html %></a>
                </span>
              <% end %>
              <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
